@font-face {
    font-family: 'BerlinSansFBRegular';
    src: url('brlnsr.eot');
    src: url('brlnsr.eot') format('embedded-opentype'),
         url('brlnsr.woff') format('woff'),
         url('brlnsr.ttf') format('truetype'),
         url('brlnsr.svg#BerlinSansFBRegular') format('svg');
}
