@font-face {
    font-family: 'Geometr706BlkCnBTBlack';
    src: url('tt0663m.eot');
    src: url('tt0663m.eot') format('embedded-opentype'),
         url('tt0663m.woff') format('woff'),
         url('tt0663m.ttf') format('truetype'),
         url('tt0663m.svg#Geometr706BlkCnBTBlack') format('svg');
}
